/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    font-size: 62.5%; 
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url('../guitar-back.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
img {
    max-width: 100%;
    height: auto;
}



/* Utilities */
.u-container {
    width: 80%;
    margin: 0 auto;
}

.u-page-container {
    padding: 6rem 0;
}

.u-paragraph {
    font-size: 1.6rem;
}

.u-sm-mar-bot {
    margin-bottom: 1rem;
}


/*Font:
    font-family: 'Alata', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
*/
h1, h2, h3 {
    font-family: 'Alata', sans-serif;
    color: #282822;
}

h1 {
    font-size: 3.5rem;
}

h2{
    font-size: 2.8rem;
    margin-bottom: .5rem;
}
h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p, a {
    font-family: 'Nanum Gothic', sans-serif;
    color: #282822;
}

/* Navigation */

.navbar {
    background-color: #282828;
    padding: 2rem 0;
}

.navbar > .u-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-size: 3rem;
    color: white;
}

.navbar__nav--link {
    display: inline-block;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    text-decoration: none;
}

.navbar__nav--link:not(:last-child){
    padding-right: 3rem;
}


/* Home */

.landing {
    height:  calc(100vh - 82px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing__text {
    width: 50%;
    color: white;
}

.landing__text h1, .landing__text p, .landing__text a {
    color: white;
}

.landing__text a {
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 20rem;
    background-color: black;
    color: white;

}




/* Guitar */
.guitar {
    border-radius: 5px;
    padding: 2rem 4rem;
    background-color: white;
    box-shadow: #28282283  0px 0px  5px 1px;
}

.guitar:not(:last-child){
    margin-bottom: 3rem;
}